/* Daniel Fletcher */
/* The Odin Project: Foundations */
/* Calculator */


/* --- GENERAL PROPERTIES --- */
:root {
  --button-width: 5.5rem;
  --button-height: 3.75rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}


/* --- CALCULATOR LAYOUT --- */
.calculator {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin-top: calc(var(--button-height) * 2.675);
}

.display-container {
  width: calc(var(--button-width) * 6);
  height: calc(var(--button-height) * 1.25);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-content {
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
  border: 2.25px solid black;

}

.calc-row {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* --- CALCULATOR BUTTONS --- */
.calc-row > button {
  font-size: 1.5rem;

  width: var(--button-width);
  height: var(--button-height);
}

.calc-row > button.digit-0 {
  width: calc(var(--button-width) * 2);
}

.radicand {
  position: relative;
  top: 5px;
  border-top: 2px solid black;
  margin: 0;
  padding: 0;
}