/* Daniel Fletcher */
/* The Odin Project: Foundations */
/* Calculator */


/* --- GENERAL PROPERTIES --- */
:root {
  --button-width: 5rem;
  --button-height: 3rem;

  --chocolate-primary: #613A3A;
  --chocolate-buttons: #E8DDB5;
  --chocolate-display: #87919E;
  --chocolate-equals: #EF476F;
  --chocolate-operations: #F85A3E;

  --strawberry-primary: #A53860;
  --strawberry-buttons: #FFA5AB;
  --strawberry-display: #30011E;
  --strawberry-equals: #F9DBBD;
  --strawberry-operations: #DA627D;

  --vanilla-primary: #FBFBF2;
  --vanilla-buttons: #E5E6E4;
  --vanilla-display: #201E1F;
  --vanilla-equals: #A6A2A2;
  --vanilla-operations: #CFD2CD;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}


/* --- CALCULATOR LAYOUT --- */
.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 10px solid black;
  margin-top: calc(var(--button-height) * 2.675);
  width: calc(var(--button-width) * 4.675);
  height: calc(var(--button-height) * 12)
}

.display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 1.5rem;
  padding: 2px 8px;
  width: calc(var(--button-width) * 4 + 0.1875rem);
  height: calc(var(--button-height) * 0.875);
}

.display-content {
  /* border: 2.25px solid black; */
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
  width: 100%;
  height: 100%;
}

.calc-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-row-0 {
  border-top: 1px solid rgb(0, 0, 0, 25%);
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

.calc-row-1, .calc-row-6 {
  border-bottom: 1px solid rgb(0, 0, 0, 25%);
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.calc-row-colors {
  display: flex;
  justify-content: space-around;
  width: 87.5%;
}


/* --- CALCULATOR BUTTONS --- */
.calc-row > button {
  border: none;
  font-size: 1.5rem;
  margin: 0.125em;
  width: var(--button-width);
  height: var(--button-height);
}

.calc-row > button.digit-0 {
  width: calc(var(--button-width) * 2.0675);
}

.radicand {
  border-top: 2px solid black;
  margin: 0;
  padding: 0;
  position: relative;
  top: 5px;
}


/* --- COLOR THEMES --- */
.theme-chocolate {
  background-color: var(--chocolate-primary);
}

.theme-chocolate button {
  background-color: var(--chocolate-operations);
}

.theme-chocolate .digit,
.theme-chocolate .calc-row-0 button,
.theme-chocolate .calc-row-1 button,
.theme-chocolate .calc-row-colors button {
  background-color: var(--chocolate-buttons);
}

.theme-chocolate > .display-container, .theme-chocolate .display-content {
  background-color: var(--chocolate-display);
}

.theme-chocolate .func-equals {
  background-color: var(--chocolate-equals);
}

.theme-strawberry {
  background-color: var(--strawberry-primary);
}

.theme-strawberry button {
  background-color: var(--strawberry-operations);
}

.theme-strawberry .digit,
.theme-strawberry .calc-row-0 button,
.theme-strawberry .calc-row-1 button,
.theme-strawberry .calc-row-colors button {
  background-color: var(--strawberry-buttons);
}

.theme-strawberry > .display-container, .theme-strawberry .display-content {
  background-color: var(--strawberry-display);
  color: white;
}

.theme-strawberry .func-equals {
  background-color: var(--strawberry-equals);
}

.theme-vanilla {
  background-color: var(--vanilla-primary);
}

.theme-vanilla button {
  background-color: var(--vanilla-operations);
}

.theme-vanilla .digit,
.theme-vanilla .calc-row-0 button,
.theme-vanilla .calc-row-1 button,
.theme-vanilla .calc-row-colors button {
  background-color: var(--vanilla-buttons);
}

.theme-vanilla > .display-container, .theme-vanilla .display-content {
  background-color: var(--vanilla-display);
  color: white;
}

.theme-vanilla .func-equals {
  background-color: var(--vanilla-equals);
}


/* --- COLOR THEME BUTTONS --- */
button.color {
  border: 2.25px solid black;
  border-radius: 12.5%;
  font-size: 2.25rem;
  text-shadow: 2.25px 2.25px 1.5px black;
  width: 4.5rem;
  height: 4.5rem;
}

.color-chocolate {
  color: var(--chocolate-primary);
}

.color-vanilla {
  color: var(--vanilla-primary);
}

.color-strawberry {
  color: var(--strawberry-primary);
}


/*
Chocolate Theme
    Calculator color: #694A3A 
    Button BG color: #E8DDB5
    Display BG color: #8E9AAF
*/